*{
   box-sizing: border-box;
}
body{
   background-color: #C0C0C0;
}

#app-container{
   font-family: "comic sans";
}

@media screen and (min-width: 600px) {
body{
   background-color: #212B2E;
}
.main-data h1{
   font-size: medium;
   text-align: center;
   color: #c0c0c0;
}
.main-data p{
   display: none;
}
.profile img{
   width: 45%;
   border-radius: 90px 19px 90px 53px;
   border: 2px solid black;
   margin-top: 75px;
   margin-left: 30%;
}
.navbar{
   display: none;
}
.thumbnail{
   border: none;
}
.thumbnail h3{
   color: limegreen;
}
.previous_work a {
   width: 25%;
   display:inline-block;
   border: none;
   margin-left: 35px;
}
.previous_work h1{
   display: none;
}
.previous_work h3{
   text-align: center;
}
.skillset {
   display: none;
}
.contact{
   background-color: #c0c0c0;
   width: 100%;
}

.contact h1{
   display: none;
}
.contact a{
   color: white;
   font-size: 50px;
}
.footer{
   display: none;
}
.profile span{
   display: none;
}
}

@media screen and (min-width: 1000px) {
body{
   background-color: #C0C0C0;
}

.navbar{
   text-align: center;
   display: inline-block;
   width:100%;
   background-color: #212B2E;
   height: 100px;
}
.navbar a{
   color: #C0C0C0;
   font-size: 35px;
   width: 33.33%;
   margin-left: 8%;
   margin-right: 8%;
}
.main-data{
   vertical-align: top;
   display: flex;
}
.profile p{
   display: inline;
}
.profile img{
   width: 65%;
   border-radius: 50%;
   border: 5px #22313F dotted;
   margin-left: 25%;
}
.profile img:hover{
   border:5px #22313F solid;
}
.profile{
   margin-top: 1%;
   width: 50%;
   display: inline;
   padding-right: 10%;
}

.profile h1{
   font-size: 30px;
   margin-bottom: 25px;
   color: #333;
}
.profile p{
   font-size: 25px;
}
.profile a{
   text-decoration: none;
   color: #333;
}

.thumbnail {
   border: none;
   margin-left: 35px;
   margin-right: 35px;
   margin-top: 30px;
   background-color: #C0C0C0
}
.thumbnail img{
   width: 75%;
   border-radius: 50%;
   border: 3px #22313F solid;
   opacity: 0.5;
}
.thumbnail h3{
   color: #22313F;
}
.thumbnail img:hover{
   border-radius: 25%;
   opacity: 1.0;
   border-style: double;
}
.thumbnail li {
   text-align: center;
   list-style: none;
   margin-right: 50px;
}

.btn{
   border: none;
   background-color: #C0C0C0;
   margin-left: 25%;
   color: #212B2E;
   padding: 10px 15px 10px 15px;
}
.btn i{
   font-size: 25px;
   color: #212B2E;

}
.btn:hover{
   background-color: #C0C0C0;
}
.work{
   margin-top: 40px;
   font-size: 35px;
   color: #34495e;
   text-align: center;
}

.previous_work p{
   display: inline;
   font-size: large;
}
.previous_work h1{
   display: inline;
   margin-left: 43%;

}
.container-fluid {
   padding-top: 75px;

}


h3{
   text-align: center;
   color: #34495e;
}
/*
 .thumbnail p:hover{
   color: #34495e;
   font-size: small;
   font-style: oblique;
   text-transform: uppercase;
   text-shadow: 3px;
}*/

/**********Contact********/

/*.social{
   text-align: center;
}*/
.contact{
   color: #34495e;
   width: 100%;
}
.social{
   display: inline-flex;
   margin-left: 12%;
}
.social p{
   font-size: 30px;
   margin-left: 5px;
   margin-right: 5px;
}
.social a{
   color: #212B2E;
   font-size: 30px;
   margin-left: 10px;
   margin-right: 10px;
   text-decoration: none;
}


/********FOOTER**********/

.skillset {
   display: inline-block;
   font-size: 0;
   text-align: center;
}
.skillset i {
   margin-left: 25px;
   margin-right: 25px;
}
.footer{
   text-align: center;
   display: inline-block;
   width:100%;
   padding: 0px;
   padding-top: 10px;
   padding-bottom: 10px;
   background-color: #212B2E;
}
.footer i{
   color: #C0C0C0;
   font-size: 45px;
}

.fa{
   margin-top: 15px;
   padding: 20px;
   font-size: 30px;
   width: 75px;
   text-align: center;
   text-decoration: none;
   border-radius: 50%;
}
.fa-github-alt{
   background: #C0C0C0;
   color: #212B2E;
}
.fa-volume-control-phone{
   background: #C0C0C0;
   color: #212B2E;
}
.fa-linkedin{
   background: #C0C0C0;
   color: #212B2E;
}
.fa-envelope{
   background: #C0C0C0;
   color: #212B2E;
}
}
