*{
   box-sizing: border-box;
}
body {
   background-image: url("../images/Paddle.png");
   background-size: cover;
}

.details-container{
   font-family: Georgia;
   width: 100%;
   color: red;
}
.eagles-column{
   width: 50%;
   color: black;
}
img{
   width:125px;
   height:75px;
}
