* {
   box-sizing: border-box;
}
img{
   width: 100%;
}
a {
   text-decoration: none;
}
body{
   background-color: #154360
}

.nav{
	width: 100%;
	background: #154360;
   height: 75px;
}
.nav a{
   color: palegoldenrod;
   font-size: 30px;
   font-family: "Georgia";
}

.nav__tab-link{
	padding: 12px;
	text-align: center;
	letter-spacing: 5px;
}

.nav__tab-link:hover{
	background-color: palegoldenrod;
	color: #154360;
   text-decoration: none;
   height:75px;

}

.nav__tab-link:active{
   background-color: palegoldenrod;
   color: #154360;
   list-style: none;
}

.u_max-container{
   background-image: url("../images/Battery.jpg");
   background-size: cover;
   height: 950px;
   margin: 0 auto;
}

.u_column-container {
     font-size: 0;
}

.u_column-container > * {
       display: inline-block;
       vertical-align: top;
       font-size: medium;
}

.column-container{
      font-size: 0;
}

.column-container > * {
      display: inline-block;
      vertical-align: top;
      font-size: medium;
}

.brandon_info__img-column{
   width: 40%;
}

.brandon_info__text-column{
   width: 60%;
}

.brandon_info__text-column{
   padding: 0 9px;
   margin-top: 40px;
}

.brandon_info__img-column img{
   border-radius: 50%;
   width: 75%;
   margin-left: 75px;
   margin-top: 40px;
}

.brandon_info__body-text{
   padding-right: 75px;
   border-left: 0;
   font-size: 28px;
   color: palegoldenrod;
   font-family: "Georgia", "Palatino", "serif";
   padding-left: 9px;
}

.footer{
   background-color: #154360;
   height: 75px;
   width: 100%;
   color: palegoldenrod;

}

.footer a {
   width: 15%;
   font-size: 35px;
   margin-top: 10px;
   color: palegoldenrod;
}

.apple{
   float: left;
   margin-top: 10px;
   margin-left: 10PX;
   margin-bottom: 15px;
   height: 30px;
}

.far {
   font-size: 35px;
   float: right;
   margin-top: 38px;
   margin-right: 8px;
}
.footer i {
   font-size: 30px;
}
