*{
   box-sizing: border-box;
}
body{
   background-color: #E84304;
}
.navbar{
   background-color: #E85F00;
   width:100%;
}
.nav-pills{
   width: 50%;
   margin-top: 25px;
   margin-right: 15px;
   color: #FF160C;

}

.title{
   color: red;
   text-align: center;
}
.actualPort{
   width: 100%;
}
.btn-default{
   border-radius: 50%;
   background-color: #FF5735;
   border: solid;
   border-color: #E8481B;

}
.portfolio-jumbotron{
text-align: center;
padding-top: 15px;
padding-bottom: 20px;
border-bottom: solid black 3px;
}
.portfolio-jumbotron a:hover{
   background-color: #FF050A;
   color: white;
   border-color: black;
}

.getReady{
   text-align: center;
   background-color: #E88645;
   border-top: solid black 3px;
   padding-bottom: 10px;
}

.iceland{
   background-color: #E89E6C;
   border-top: solid black 3px;

}

.toDo{
   background-color: #E8A980;
}

.github{
   background-color: #E8B99A;
}

.toDo{
   background-color: #E8C6AF;
}
