*{
   box-sizing: border-box;
   text-align: center;
}

ul{
   list-style-type: none;
}
body{
   background-color: darkgrey;
}
h1{
   color: darkSlateBlue;
   font-size: 45px;
}
.header_container{
   font-size: 75px;
   font-family: georgia;
}
.what_container{
   width:100%;
   display: block;
}
.activities{
   display: inline-block;
   background-color: white;
   border: 15px double #ceadac;
   margin: 25px;
   width: 75%
}
.activities p{
   color: slateBlue;
   font-size: 35px;
}
.activities li{
   color: mediumSlateBlue;
   font-size: 33px;
}
.footer_container{
   position: fixed;
   bottom: 0;
   border: 3px solid black;
   background: palegoldenrod;
   color: black;
   width: 100%;
   margin: 0 auto;
   height: 75px;
}
.footer_container ul{
position: relative;
display: block;
text-align: center;
margin: 20px;
}
.footer_container li{
   width: auto;
   display: inline;
   padding: 5px;
   font-size: 15px;
}
