*{
   box-sizing: border-box;
   text-align: center;
}

ul{
   list-style-type: none;
}
body{
   background-color: darkgrey;
}
h1{
   color: darkSlateBlue;
   font-size: 45px;
}
.header_container{
   border: 2px solid darkslateblue;
}
.header_container h4{
   font-family: "Comic Sans MS", cursive, sans-serif;
   font-size: 25px;
   font-weight: bold;
   text-decoration: underline;
   color: slateBlue;
}

.what_container{
   width:100%;
   display: block;
}
.activities{
   display: inline-block;
   background-color: white;
   border: 15px double #ceadac;
   margin: 25px;
   width: 75%
}
.activities p{
   color: slateBlue;
   font-size: 35px;
}
.activities li{
   color: mediumSlateBlue;
   font-size: 33px;
}
.feet p{
   color: orange;
   text-decoration: underline;
   font-size: 25px;
}
.footer_container{
   border: 3px solid black;
   background: palegoldenrod;
   color: black;
   width: 100%;
   height: 95px;
}
.footer_container ul{
display: block;
text-align: center;
}
.footer_container li{
   width: auto;
   display: inline;
   font-size: 22px;
   padding: 12px;
}
