*{
   box-sizing: border-box;
}
.header_container{
   height: 200px;
   width: fill;
   text-align: center;
   padding-top: 75px;
   background-image: linear-gradient(35deg, tan, firebrick, tan);
   box-shadow: inset 0 0 35px 10px rgba(6,6,6,1);
}
.header_container p {
   color: white;
   font-size: 38px;
}
.top_container{
   text-align: center;
   font-size: 0;
   margin: 25px;
}
img{
   width: 400px;
   height: 700px;
   margin-bottom: 5px;
   margin-top: 5px;
   border-radius: 25px;
}
.data_columns{
   border: 2px solid firebrick;
   padding: 15px;
   margin-top: 5px;
   margin-bottom: 5px;
}
.another_column{
   display: inline-block;
   max-width: 900px;
   margin-top: 10px;
   margin-bottom: 10px;
   border-radius: 15%;
   font-size: 18px;

}

.bottom_container{
   height: auto;
   font-size: 25px;
   width: fill;
   background-color: #45234123;
   text-align: center;
}
.footer_column{
   padding: 8px;

}
.blog{
   float: right;
}
.thouse{
   float: left;
}
